<div data-ng-include="'partials/moderator/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">Remove user</legend>

<div class="container">
    <h2>Are you sure you want to delete the user scan rule:</h2>
    <table class="table table-striped row col-lg-10">
        <thead>
        <tr>
            <th>User</th>
            <th>Scanner UID</th>
            <th>Week day</th>
            <th>Valid from</th>
            <th>Valid to</th>
            <th>Time start</th>
            <th>Time end</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ userScanRule.username }}</td>
            <td>{{ userScanRule.scannerUid }}</td>
            <td>{{ intsToDaysOfWeek(userScanRule.daysOfWeek) }}</td>
            <td>{{ userScanRule.startDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ userScanRule.endDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ userScanRule.startTime | date: 'HH:mm' }}</td>
            <td>{{ userScanRule.endTime | date: 'HH:mm' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="row col-lg-8 col-md-offset-3">
        <button class="btn btn-default col-lg-3"
                data-ng-click="remove()">
            <i class="glyphicon glyphicon-ok"></i> Remove
        </button>
        <a href="#/moderator/userScanRules"
           class="btn btn-default col-lg-3 col-md-offset-1">
            <i class="glyphicon glyphicon-remove"></i> Cancel
        </a>
    </div>
</div>