<div data-ng-include="'partials/administrator/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">New user</legend>

<form class="form container">
    <div class="form-group row col-lg-6 col-md-offset-3">
        <label for="user-username">Username</label>
        <input id="user-username"
               type="text"
               class="form-control"
               placeholder="Username"
               data-ng-model="user.username">
    </div>

    <div class="form-group row col-lg-6 col-md-offset-3">
        <label for="user-password">Password</label>
        <input id="user-password"
               type="password"
               class="form-control"
               placeholder="Password"
               data-ng-model="user.password">
    </div>

    <div class="form-group row col-lg-6 col-md-offset-3">
        <label for="user-role">Role</label>
        <select id="user-role"
                class="form-control"
                data-ng-model="user.role"
                data-ng-options="role.id as role.description for
                                 role in roles">
        </select>
    </div>

    <div class="btn btn-default row col-lg-2 col-md-offset-5"
         data-ng-click="post()">
        <i class="glyphicon glyphicon-plus"></i> Add
    </div>
</form>
