<div data-ng-include="'partials/administrator/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">Users</legend>

<div class="container">
    <table class="table table-striped row col-lg-10">
        <thead>
        <tr>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.username">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.password">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.role">
            </th>
            <th></th>
        </tr>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users | filter:searchKeyword">
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a class="btn"
                   href="#/administrator/users/edit/{{user.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;&nbsp;Edit
                </a>
                <a class="btn" href="#/administrator/users/remove/{{user.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;&nbsp;Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
