<div data-ng-include="'partials/administrator/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">New scanner</legend>

<div class="form container">
    <div class="form-group row col-lg-6 col-md-offset-3">
        <label for="scanner-uid">Unique ID</label>
        <input id="scanner-uid"
               type="text"
               class="form-control"
               placeholder="Unique ID"
               data-ng-model="scanner.uid">
    </div>

    <div class="form-group row col-lg-6 col-md-offset-3">
        <label for="scanner-description">Description</label>
                <textarea id="scanner-description"
                          class="form-control"
                          placeholder="Scanner description..."
                          data-ng-model="scanner.description">
                </textarea>
    </div>

    <div class="alert alert-danger row col-lg-6 col-md-offset-3"
         role="alert"
         data-ng-class="{true:'', false:'hidden'}[notification
                 .hasOccurred()]">
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{notification.message}}
    </div>

    <button class="btn btn-default  row col-lg-2 col-md-offset-5"
            data-ng-click="post()">
        <i class="glyphicon glyphicon-plus"></i> Add
    </button>
</div>
