<div data-ng-include="'partials/administrator/header.html'"></div>

<legend>New scanner</legend>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="form">
            <div class="form-group">
                <label for="scanner-uid">Unique ID</label>
                <input id="scanner-uid" 
                       type="text" 
                       class="form-control"
                       placeholder="Unique ID"
                       data-ng-model="scanner.uid">
            </div>

            <div class="form-group">
                <label for="scanner-description">Description</label>
                <textarea id="scanner-description"
                          class="form-control"
                          placeholder="Scanner description..."
                          data-ng-model="scanner.description">
                </textarea>
            </div>

            <div class="form-group">
                <label for="scanner-commands">Commands (comma separated)</label>
                <input id="scanner-commands"
                       name="commands"
                       class="form-control"
                       placeholder="COMMAND1,COMMAND2,COMMAND3,..." 
                       ng-model="scanner.commands" 
                       ng-list>
            </div>

            <div class="alert alert-danger" 
                 role="alert"
                 data-ng-class="{true:'', false:'hidden'}[notification
                 .hasOccurred()]">
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{notification.message}}
            </div>

            <button class="btn btn-default" data-ng-click="add()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
        </div>
    </div>
</div>