<div data-ng-include="'partials/user/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">Pending access requests</legend>

<div class="container">
    <table class="table table-striped row col-lg-10">
        <thead>
        <tr>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.scannerUid">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.daysOfWeek">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.startDate">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.endDate">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.startTime">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="searchKeyword.endTime">
            </th>
        </tr>
        <tr>
            <th>Scanner UID</th>
            <th>Days of week</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="userScanRule in userScanRules | filter:searchKeyword">
            <td>{{ userScanRule.scannerUid }}</td>
            <td>{{intsToDaysOfWeek(userScanRule.daysOfWeek)}}</td>
            <td>{{ userScanRule.startDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ userScanRule.endDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ userScanRule.startTime | date: 'HH:mm' }}</td>
            <td>{{ userScanRule.endTime | date: 'HH:mm' }}</td>
        </tr>
        </tbody>
    </table>
</div>
