<div data-ng-include="'partials/user/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">Pending access requests</legend>

<div class="container">
    <table class="table table-striped row col-lg-10">
        <thead>
        <tr>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="search_keyword.scannerUid">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="search_keyword.weekDay">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="search_keyword.validFrom">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="search_keyword.validTo">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="search_keyword.timeStart">
            </th>
            <th>
                <input type="text"
                       class="form-control"
                       data-ng-model="search_keyword.timeEnd">
            </th>
        </tr>
        <tr>
            <th>Scanner UID</th>
            <th>Week day</th>
            <th>Valid from</th>
            <th>Valid to</th>
            <th>Time start</th>
            <th>Time end</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="accessRequest in accessRequests |
                            filter:search_keyword">
            <td>{{ accessRequest.scannerUid }}</td>
            <td>{{ accessRequest.weekDay }}</td>
            <td>{{ accessRequest.validFrom | date: 'yyyy-MM-dd' }}</td>
            <td>{{ accessRequest.validTo | date: 'yyyy-MM-dd' }}</td>
            <td>{{ accessRequest.timeStart | date: 'HH:mm' }}</td>
            <td>{{ accessRequest.timeEnd | date: 'HH:mm' }}</td>
        </tr>
        </tbody>
    </table>
</div>
