<div data-ng-include="'partials/moderator/header.html'"></div>

<legend class="row col-lg-10 col-md-offset-1">New user scan rule for {{userScanRule.username}}</legend>

<form class="form container">
    <div class="form-group row col-lg-6 col-md-offset-3">
        <label>Scanner: {{userScanRule.scannerUid}}</label>
    </div>

    <div class="form-group row col-lg-6 col-md-offset-3">
        <label for="scanner-command">Respond with command</label>
        <select id="scanner-command" class="form-control"
                data-ng-model="userScanRule.responseScannerCommandId"
                data-ng-options="scannerCommand.id as
                                     scannerCommand.command
                                     for scannerCommand in scannerCommands">
        </select>
    </div>

    <div class="form-group row col-lg-6 col-md-offset-3">
        <label>Day: {{userScanRule.weekDay}}</label>
    </div>

    <div class="form-group row col-lg-12 col-md-offset-1">
        <div class="row">
            <div class="col-lg-4 col-md-offset-1">
                <label>Valid from</label>
                        <pre>Valid from:<em>{{userScanRule.validFrom |
                            date:'fullDate'}}</em>
                        </pre>
            </div>

            <div class="col-lg-4">
                <label>Valid to</label>
                    <pre>Valid to:<em>{{userScanRule.validTo |
                        date:'fullDate'}}</em>
                    </pre>
            </div>
        </div>
    </div>

    <div class="form-group row col-lg-12 col-md-offset-1">
        <div class="row">
            <div class="col-lg-4 col-md-offset-1">
                <label>Time start: {{userScanRule.timeStart | date:'HH:MM'}}</label>
            </div>

            <div class="col-lg-4">
                <label>Time end: {{userScanRule.timeEnd | date:'HH:MM'}}</label>
            </div>
        </div>
    </div>

    <div class="alert alert-danger row col-lg-6 col-md-offset-3"
         role="alert"
         data-ng-class="{true:'', false:'hidden'}[notification
                 .hasOccurred()]">
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{notification.message}}
    </div>

    <div class="btn btn-default row col-lg-2 col-md-offset-5"
         data-ng-click="add()">
        <i class="glyphicon glyphicon-plus"></i> Add
    </div>
</form>
