<div data-ng-include="'partials/administrator/header.html'"></div>

<legend>Edit RFID reader</legend>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="form">
            <label for="rfid-uid">Unique ID</label>

            <div id="rfid-uid"
                 class="form-group"
                 data-ng-class="{true: '', false: 'has-error'}[rfid.isUidValid()]">
                <input type="text" class="form-control" placeholder="Unique ID"
                       data-ng-model="rfid.uid">
            </div>

            <div class="form-group"
                 data-ng-class="{true: '', false: 'has-error'}[rfid.isDescriptionValid()]">
                <label for="rfid-description">Description</label>
                <textarea id="rfid-description"
                          class="form-control"
                          placeholder="RFID description (location, type, ...)"
                          data-ng-model="rfid.description">
                </textarea>
            </div>

            <div class="alert alert-danger" role="alert"
                 data-ng-class="{true:'', false:'hidden'}[notification.hasOccurred()]">
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{notification.message}}
            </div>

            <button class="btn btn-default" data-ng-click="update()">
                <i class="glyphicon glyphicon glyphicon-cloud-upload"></i>
                Update
            </button>
        </div>
    </div>
</div>